
@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">Tela principal</h2>
    <p>Unic - Universidade de Cuiabá</p>
    <p>Nome: Lucas André Lescano Cruz</p>
    <p>Disciplina: Programação Web I</p>
    <p>Curso: Análise e Desenvolviento de Sistema - 5° Semestre</p>
    <p>Professor: Rodrigo</p>
<hr />
<p><b>Atividade proposta</b></p>
<p>Montar um projeto Web no Visual Studio que contenha uma página que faça a chamada de outra página porém com passagem de parâmetro.</p>
<p>Qualquer valor e tipo de parâmetro é válido, desde que chegue ao destino</p>
<p><b>Entregar dia 28 de Março de 2019 até as 15h.</b></p>
<hr />
<a href="/Home/Resolucao" class="btn btn-primary">Resolução da Atividade</a>