
@{
    ViewBag.Title = "ResolucaoExercicio";
}

<h2 class="page-header">Resolução do Exercício</h2>
    <p>Eu fiz um sistema para cadastro de pessoa, passando os parametros de acordo com o modelo criado e mostrando em uma view como um registro.</p>
    <a href="~/Cadastro/Index" class="btn btn-success">Clique aqui Inicar</a>
    
    <div class="row">
        <div class="col-md-4">
            <hr />
            <h3>Model</h3>
            <p>public class Pessoa</p>
            <p>{ </p>
            <p>public int PessoaId { get; set; }</p>
            <p>public string Nome { get; set; }</p>
            <p>public string DataDeNascimento { get; set; }</p>
            <p>public string RG { get; set; }</p>
            <p>public string CPF { get; set; }</p>
            <p>} </p>
        </div>
        <div class="col-md-4">
            <hr />
            <h3>Controllers</h3>
            <p>Home</p>
            <p>Cadastro</p>
            <p>Registro</p>
        </div>
        <div class="col-md-4">
            <hr />
            <h3>View</h3>
            <ul>
                <li>Home</li>
                <ul>
                    <li>Index</li>
                    <li>ResolucaoExercicio</li>
                </ul>
                <li>Cadastro</li>
                <ul>
                    <li>Index</li>
                </ul>
                <li>Registro</li>
                <ul>
                    <li>Index</li>
                </ul>
            </ul>
        </div>
            
    </div>
    <p> <a href="https://github.com/LucasAndreCruz/Lucas_Andre_LC">Link do Projeto no GitHub</a></p>
